<div class="container mt-4">
    <h4>Register New User</h4>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>First Name</label>
            <input type="text"  class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input type="text" class="form-control" formControlName="middleName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label>Mobile No</label>
            <input type="text" class="form-control" formControlName="mobileNo">
        </div>
        <div class="mt-4"><button class="btn btn-success">Create User</button></div>
    </form>
</div>